@import 'breakpoint';

body {
  @include breakpoint(tiny) {
    font-size: $font-size * 1.2;
    max-width: 100%;
  }

  // @include breakpoint(small) {
  //   background-color: $red;
  // }
  //
  // @include breakpoint(medium) {
  //   background-color: $blue;
  // }
  //
  // @include breakpoint(large) {
  //   background-color: $green;
  // }
}

.board {
  @include breakpoint(tiny) {
    max-width: 310px;
  }
}
