$background-color: $deep-cerulean;
$navbar-background-color: tint($background-color, 10);
$navbutton-background-color: shade($background-color, 30);
$message-background-color: tint($electric-lime, 20);
$font-color: $black;
$header-font-color: $electric-lime;
$accent-font-color: $white;
$unoccupied-cell-color: $white;
$cell-border-color: $background-color;
$x-cell-color: $flamenco-orange;
$o-cell-color: $electric-lime;

$border-radius: 10px;

body {
  background-color: $background-color;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  margin: $vertical-margin auto 0;
  z-index: 1;
}

form {
  margin: 10px 0;
}

.board {
  height: 450px;
  margin: 0 auto;
  width: 450px;
}

.cell {
  background-color: $unoccupied-cell-color;
  border: 10px solid $cell-border-color;
  border-radius: (2 * $border-radius);
  height: 100%;
}

h1 {
  color: $header-font-color;
  font-family: $title-font-family;
  font-size: (3 * $font-size);
  line-height: $line-height;
  text-align: center;
}

p {
  text-align: justify;
}

a {
  color: $header-font-color;
}

.nav-button {
  background-color: $navbutton-background-color;
  border: 5px solid $navbar-background-color;
  border-radius: $border-radius;
  color: $accent-font-color;
  cursor: pointer;
  height: 50px;
  margin: 0;
  padding: 10px;
}

.dropmenu {
  background-color: $navbutton-background-color;
  opacity: .92;
  padding: 30px 10px 10px;
  position: fixed;
  z-index: 2;
}

.navbar {
  background-color: $navbar-background-color;
  border: 0;
  font-size: (.9 * $font-size);
  margin: 0;
  // padding: 0 20px;
  text-align: center;
}

.navbar-text {
  border: 0;
  margin: 0;
  padding: 12px;
  text-align: right;
}

.board-row {
  height: 33.33333%;
}

.l-occupied {
  background-color: tint($x-cell-color, 100);
}

.x-occupied {
  background-color: $x-cell-color;
}

.d-occupied {
  background-color: shade($x-cell-color, 100);
}

.o-occupied {
  background-color: $o-cell-color;
}

span {
  color: $accent-font-color;
}

.message {
  background-color: $message-background-color;
  border-radius: $border-radius;
  padding: 20px;
}
